include ./profile
div(class="container")
    div(class="tab")
        table(class="table table-dark table-bordered" align="center")
            thead 
                tr
                    th S. NO
                    th Option 
            tbody 
                tr 
                    td 1
                    td 
                        button(type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#viewQuestions") Questions
                        div(class="modal fade" id="viewQuestions" style={color:"black"} aria-hidden="true")
                            div(class="modal-dialog")
                                div(class="modal-content min-max")
                                    div(class="modal-header")
                                        h5(class="modal-title") Assignment Questions
                                        button(type="button" class="btn-close" data-bs-dismiss="modal")
                                    div(class="modal-body")
                                        table(class="table bordered-table hover-table table-dark")
                                            thead 
                                                tr 
                                                    td S. NO
                                                    td Question
                                            tbody(id="que") 
                                                each i in questions
                                                    tr
                                                        td= questions.indexOf(i)+1
                                                        td= i
                tr 
                    td 2
                    td 
                        button(type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#viewSubmitions") Submitions 
                        div(class="modal fade" id="viewSubmitions" style={color:"black"} aria-hidden="true")
                            div(class="modal-dialog")
                                div(class="modal-content min-max")
                                    div(class="modal-header")
                                        h5(class="modal-title") Your Submitions
                                        button(type="button" class="btn-close" data-bs-dismiss="modal")
                                    div(class="modal-body" align="left")
                                        each i in submitions 
                                            span= submitions.indexOf(i)+1
                                            span . 
                                            span= i
                                            div 
                                                b Answer:
                                            p(class="answer min-max")= value=answers[submitions.indexOf(i)]

                tr 
                    td 3
                    td 
                        button(type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#submitAnswers") Submit Answers 
                        div(class="modal fade" id="submitAnswers" style={color:"black"} aria-hidden="true")
                            div(class="modal-dialog")
                                div(class="modal-content min-max")
                                    div(class="modal-header")
                                        h5(class="modal-title") Answer the Questions
                                        button(type="button" class="btn-close" data-bs-dismiss="modal")
                                    div(class="modal-body min-max")
                                        each i in pending
                                            form(action="/answer", method="post")
                                                label(for="question")
                                                    b= pending.indexOf(i)+1
                                                        input(type="text" name="question" class="input_" value=i readOnly)
                                                        br
                                                        label(for="answer") Answer 
                                                        
                                                br
                                                textarea(name="answer",value="", cols="100", rows="10")
                                                
                                                br
                                                input(type="submit", value="Submit") 

